<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path("indexpage") }}">AdoBnb</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("indexpage") }}">Home
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("ads_index") }}">Appart
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            {% if app.user %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="accountDropdownLink" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="{{ app.user.picture }}" class="avatar avatar-mini" alt="avatar de {{app.user.fullName}}">
                        {{ app.user.fullName }}</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownLink">
                        <a class="dropdown-item" href="{{ path('ads_new') }}">Ajouter un bien</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('account_index') }}">Profil</a>
                        <a class="dropdown-item" href="{{path('account_profile')}}">Modifer mon profil</a>
                        <a class="dropdown-item" href="{{path('account_bookings')}}">Voir mais reservation</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{path("account_logout")}}">Deconnexions</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path("account_login")}}">Connexions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path("account_register")}}">S'enregistrer</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% for label, messages in app.flashes %}
    {% for message in  messages  %}
        <div class="alert alert-{{label}}">
            {{ message | raw }}
        </div>
    {% endfor %}
{% endfor %}
