{{ form_start(form)}}

<div class="row">
	<div class="col">
		<div class="alert alert-light">
			<h2>Information générales</h2>
			<hr>
			<div class="col">{{ form_row(form.title)}}</div>
			<div class="col">{{ form_row(form.price) }}</div>
			<div class="col">{{ form_row(form.rooms) }}</div>
		</div>
		<div class="alert alert-light">
			<h2>Détails de l'annonce</h2>
			<hr>
			<div class="col">{{ form_row(form.intro) }}</div>
			<div class="col">{{ form_row(form.content) }}</div>
		</div>
	</div>
	<div class="col">
		<div class="alert alert-light">
			<h2>Image de l'annonce</h2>
			<hr>
			<div class="col">{{ form_row(form.coverImage) }}</div>

			<div class="col">{{ form_row(form.images) }}</div>
		</div>
	</div>
</div>
<div class="alert alert-success clearfix">
<h2 class="alert-heading">Sauvegarder mon annonce</h2>
	<p>Vous êtes sur le point de terminer la création de votre annonce</p>
	<button class="btn btn-primary float-right" type="submit">Créer la nouvelle annonce <i class="fas fa-check"></i></button>
</div>
{{ form_end(form) }}
